Package: com.estertion.crikeylogger
Name: CRIKeyLogger
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: esterTion
Author: esterTion
Section: Tweaks
