Package: com.estertion.crikeylogger
Name: CRIKeyLogger
Depends: mobilesubstrate
Version: 3
Architecture: iphoneos-arm
Description: Intercept CRIWare media decryption key
Homepage: https://github.com/esterTion/CriWare-Key-Logger
Maintainer: esterTion
Author: esterTion
Section: Tweaks
